/* 盒模型計算方式 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}
input,
select,
textarea {
  border: none;
  background: transparent;
  outline: none;
}
