.text-primary {
  color: $primary;
}
.text-secondary {
  color: $secondary;
}
.text-grey {
  color: $greytext;
}
.text-white {
  color: $white;
}
.bg-grey {
  background: $greybg;
}
.bg-greyinput {
  background-color: $greyinput;
}
.bg-primary {
  background: $primary;
}
.bg-white {
  background: white;
}
.bg-secondary {
  background: $secondary;
}
.text-red {
  color: red;
}
