@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.fz-14 {
  font-size: 14px;
}

.fz-16 {
  font-size: 16px;
}

.fz-20 {
  font-size: 20px;
}

.fz-24 {
  font-size: 24px;
}

.fz-32 {
  font-size: 32px;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

/* 盒模型計算方式 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

input,
select,
textarea {
  border: none;
  background: transparent;
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 8px;
  padding-left: 8px;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

@media (max-width: 767.98px) {
  .d-md-none {
    display: none;
  }
}

.justify-content-between {
  justify-content: space-between;
}

@media (max-width: 767.98px) {
  .justify-content-md-center {
    justify-content: center;
  }
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-item-center {
  align-items: center;
}

.align-item-start {
  align-items: start;
}

.fw-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

@media (max-width: 767.98px) {
  .flex-md-column {
    flex-direction: column;
  }
}

.flex-grow-1 {
  flex-grow: 1;
}

.gap-30 {
  gap: 30px;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.bg-white {
  background-color: white;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-primary {
  color: #007bff;
}

.w-70 {
  width: 70%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.pad {
  padding: 16px;
}

.pad-2 {
  padding: 2px;
}

@media (max-width: 767.98px) {
  .col-md-5 {
    width: 41.6%;
  }
}

@media (max-width: 767.98px) {
  .col-md-6 {
    width: 50%;
  }
}

@media (max-width: 767.98px) {
  .col-md-10 {
    width: 83.33%;
  }
}

@media (max-width: 767.98px) {
  .col-md-12 {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .col-sm-12 {
    width: 100%;
  }
}

.g-1 {
  padding-right: 2.5%;
  padding-left: 2.5%;
}

.m0-auto {
  margin: 0 auto;
}

.me-1 {
  margin-right: 4px;
}

.me-6px {
  margin-right: 6px;
}

.ms-auto {
  margin-left: auto;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mb-18 {
  margin-bottom: 52px;
}

.pt-2 {
  padding-top: 8px;
}

.pt-5 {
  padding-top: 20px;
}

.pt-12 {
  padding-top: 48px;
}

.ps-2 {
  padding-left: 8px;
}

.ps-3 {
  padding-left: 12px;
}

.pb-2 {
  padding-bottom: 8px;
}

.pb-8 {
  padding-bottom: 32px;
}

.pb-30 {
  padding-bottom: 120px;
}

.py-2 {
  padding-bottom: 8px;
  padding-top: 8px;
}

.py-3 {
  padding-bottom: 12px;
  padding-top: 12px;
}

.py-4 {
  padding-bottom: 16px;
  padding-top: 16px;
}

.py-5 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.py-10 {
  padding-bottom: 40px;
  padding-top: 40px;
}

.px-2 {
  padding-right: 8px;
  padding-left: 8px;
}

.px-3 {
  padding-right: 12px;
  padding-left: 12px;
}

.px-4 {
  padding-right: 16px;
  padding-left: 16px;
}

.px-5 {
  padding-right: 20px;
  padding-left: 20px;
}

.px-10 {
  padding-right: 40px;
  padding-left: 40px;
}

.text-primary {
  color: #00807e;
}

.text-secondary {
  color: #64c3bf;
}

.text-grey {
  color: #818a91;
}

.text-white {
  color: #ffffff;
}

.bg-grey {
  background: #f7f7f7;
}

.bg-greyinput {
  background-color: #fafafa;
}

.bg-primary {
  background: #00807e;
}

.bg-white {
  background: white;
}

.bg-secondary {
  background: #64c3bf;
}

.text-red {
  color: red;
}

.ticket-pannel {
  display: flex;
  max-width: 920px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
  margin: 120px auto 100px;
  padding: 60px 0;
}
@media (max-width: 767.98px) {
  .ticket-pannel {
    margin: 30px auto;
  }
}

.box-shadow-12 {
  border-radius: 12px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}
@media (max-width: 767.98px) {
  .box-shadow-12 {
    box-shadow: none;
  }
}

.box-shadow-4 {
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}

.ticket-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 38%;
}
@media (max-width: 767.98px) {
  .ticket-img {
    width: 100%;
  }
}

.add-Ticket-form {
  width: 38%;
}
@media (max-width: 767.98px) {
  .add-Ticket-form {
    width: 90%;
  }
}

.add-ticket-btn {
  width: 160px;
}

.areaSearch {
  max-width: 920px;
  margin: 0 auto 32px;
}

.border-bottom-t {
  border-bottom: 1px solid transparent;
}

.border-bottom-1 {
  border-bottom: 1px solid #00807e;
}

.border-bottom-3 {
  border-bottom: 3px solid #00807e;
}

.border-input {
  border: 0px solid;
}

.no-resize {
  resize: none;
}

.border-radius-48 {
  border-radius: 4.8px;
}

.border-radius-4 {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.top-n2 {
  top: -8px;
}

.top-n3 {
  top: -12px;
}

.start-0 {
  left: 0px;
}

.alert-message {
  display: flex;
  justify-content: flex-end;
  margin-top: 3px;
  color: #b21c01;
  font-size: 0.85rem;
}

.alert-message p {
  width: 72%;
}

@media (max-width: 576px) {
  .alert-message p {
    width: 100%;
  }
}
.alert-message span {
  margin-left: 5px;
  font-weight: bold;
}/*# sourceMappingURL=all.css.map */